examples/01 地理编码.json
[
  { "id": "fb9360db7c3bb570", "type": "tab", "label": "高德 - 地理编码", "disabled": false, "info": "", "env": [] },
  { "id": "78d623415fd548af", "type": "group", "z": "fb9360db7c3bb570", "name": "逆地理编码：将经纬度转换为详细结构化的地址", "style": { "label": true }, "nodes": ["f68d4f1f619976a5", "a3923786fc1a43fa", "0493e95a63789f71"], "x": 234, "y": 299, "w": 632, "h": 82 },
  { "id": "1b84fb5a71c844f9", "type": "group", "z": "fb9360db7c3bb570", "name": "地理编码：将详细的结构化地址转换为高德经纬度坐标", "style": { "label": true }, "nodes": ["53c8ec3786b9457c", "993bad7161273918", "5e9de0359a20ac8c"], "x": 234, "y": 159, "w": 632, "h": 82 },
  {
    "id": "f68d4f1f619976a5",
    "type": "inject",
    "z": "fb9360db7c3bb570",
    "g": "78d623415fd548af",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 340,
    "wires": [["0493e95a63789f71"]]
  },
  {
    "id": "a3923786fc1a43fa",
    "type": "debug",
    "z": "fb9360db7c3bb570",
    "g": "78d623415fd548af",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 340,
    "wires": []
  },
  {
    "id": "0493e95a63789f71",
    "type": "amaps-geocode",
    "z": "fb9360db7c3bb570",
    "g": "78d623415fd548af",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "regeo",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "address": "",
    "address_type": "str",
    "city": "",
    "city_type": "str",
    "x": 530,
    "y": 340,
    "wires": [["a3923786fc1a43fa"]]
  },
  {
    "id": "53c8ec3786b9457c",
    "type": "inject",
    "z": "fb9360db7c3bb570",
    "g": "1b84fb5a71c844f9",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 200,
    "wires": [["5e9de0359a20ac8c"]]
  },
  {
    "id": "993bad7161273918",
    "type": "debug",
    "z": "fb9360db7c3bb570",
    "g": "1b84fb5a71c844f9",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 200,
    "wires": []
  },
  {
    "id": "5e9de0359a20ac8c",
    "type": "amaps-geocode",
    "z": "fb9360db7c3bb570",
    "g": "1b84fb5a71c844f9",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "geo",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "address": "中山市翠云路保利领秀海",
    "address_type": "str",
    "city": "",
    "city_type": "str",
    "x": 520,
    "y": 200,
    "wires": [["993bad7161273918"]]
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
