examples/02 静态地图.json
[
  {
    "id": "c7fe64a18a500502",
    "type": "tab",
    "label": "高德 - 静态地图",
    "disabled": false,
    "info": "静态地图服务通过返回一张地图图片响应 HTTP 请求，使用户能够将高德地图以图片形式嵌入自己的网页中。用户可以指定请求的地图位置、图片大小、以及在地图上添加覆盖物，如标签、标注、折线、多边形。",
    "env": []
  },
  { "id": "af403b5d2fd88bac", "type": "group", "z": "c7fe64a18a500502", "name": "添加默认标注", "style": { "label": true }, "nodes": ["01a60b407b321804", "51445e7877eaaeff", "b60854f76e8aa158"], "x": 274, "y": 219, "w": 532, "h": 82 },
  { "id": "f62bd2e46ffe4943", "type": "group", "z": "c7fe64a18a500502", "name": "添加自定义标注", "style": { "label": true }, "nodes": ["0c7947170c83b504", "5868d035eca07243", "f9db3c0610bf124e"], "x": 854, "y": 219, "w": 532, "h": 82 },
  { "id": "7264aaf3e6a84067", "type": "group", "z": "c7fe64a18a500502", "name": "添加标签", "style": { "label": true }, "nodes": ["c5e06852d28b4034", "df026204eb67b95e", "14c8c92b8084e832"], "x": 274, "y": 339, "w": 532, "h": 82 },
  { "id": "a1c5a5a6781d6e2f", "type": "group", "z": "c7fe64a18a500502", "name": "添加折线", "style": { "label": true }, "nodes": ["4c1036e697eb4c94", "d888995f46b85824", "8c0e037765e1ff2c"], "x": 854, "y": 339, "w": 532, "h": 82 },
  { "id": "09a5920805727a3d", "type": "group", "z": "c7fe64a18a500502", "name": "添加多边形", "style": { "label": true }, "nodes": ["f4c5e541df7cf3a5", "3b2a3414d4fc39ea", "f80eb59c25b8d405"], "x": 274, "y": 459, "w": 532, "h": 82 },
  { "id": "a2e004db05688e54", "type": "group", "z": "c7fe64a18a500502", "name": "调用高清图", "style": { "label": true }, "nodes": ["fe54083fe6a908be", "b4ebb0b88275140b", "8e6ac1d942a6c11d"], "x": 854, "y": 459, "w": 532, "h": 82 },
  {
    "id": "01a60b407b321804",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "af403b5d2fd88bac",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "mid,0xFF0000,A:{{location}}",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 520,
    "y": 260,
    "wires": [["b60854f76e8aa158"]]
  },
  {
    "id": "51445e7877eaaeff",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "af403b5d2fd88bac",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 260,
    "wires": [["01a60b407b321804"]]
  },
  {
    "id": "b60854f76e8aa158",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "af403b5d2fd88bac",
    "name": "添加默认标签",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 260,
    "wires": []
  },
  {
    "id": "0c7947170c83b504",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "f62bd2e46ffe4943",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "-1,https://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png,0:{{location}}",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 1100,
    "y": 260,
    "wires": [["f9db3c0610bf124e"]]
  },
  {
    "id": "5868d035eca07243",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "f62bd2e46ffe4943",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 950,
    "y": 260,
    "wires": [["0c7947170c83b504"]]
  },
  {
    "id": "f9db3c0610bf124e",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "f62bd2e46ffe4943",
    "name": "自定义标签",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 260,
    "wires": []
  },
  {
    "id": "c5e06852d28b4034",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "7264aaf3e6a84067",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "",
    "markers_type": "str",
    "labels": "我在这里,2,0,16,0xFFFFFF,0x008000:{{location}}",
    "labels_type": "str",
    "paths": "",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 520,
    "y": 380,
    "wires": [["14c8c92b8084e832"]]
  },
  {
    "id": "df026204eb67b95e",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "7264aaf3e6a84067",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 380,
    "wires": [["c5e06852d28b4034"]]
  },
  {
    "id": "14c8c92b8084e832",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "7264aaf3e6a84067",
    "name": "添加标注",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 380,
    "wires": []
  },
  {
    "id": "4c1036e697eb4c94",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "a1c5a5a6781d6e2f",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "",
    "location_type": "str",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "10,0x0000ff,1,,:113.554955,22.429817;113.554789,22.429192;113.554785,22.429189;113.554666,22.429198",
    "paths_type": "str",
    "scale": "2",
    "traffic": "1",
    "x": 1100,
    "y": 380,
    "wires": [["8c0e037765e1ff2c"]]
  },
  {
    "id": "d888995f46b85824",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "a1c5a5a6781d6e2f",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 950,
    "y": 380,
    "wires": [["4c1036e697eb4c94"]]
  },
  {
    "id": "8c0e037765e1ff2c",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "a1c5a5a6781d6e2f",
    "name": "添加折线",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 380,
    "wires": []
  },
  {
    "id": "f4c5e541df7cf3a5",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "09a5920805727a3d",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "",
    "location_type": "str",
    "zoom": "15",
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "2,0x0000ff,1,0x800080,0.5:113.556669,22.428091;113.549725,22.429693;113.549577,22.432214;113.557171,22.431069",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 520,
    "y": 500,
    "wires": [["f80eb59c25b8d405"]]
  },
  {
    "id": "3b2a3414d4fc39ea",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "09a5920805727a3d",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 500,
    "wires": [["f4c5e541df7cf3a5"]]
  },
  {
    "id": "f80eb59c25b8d405",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "09a5920805727a3d",
    "name": "添加多边形",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 500,
    "wires": []
  },
  {
    "id": "fe54083fe6a908be",
    "type": "amaps-staticmap",
    "z": "c7fe64a18a500502",
    "g": "a2e004db05688e54",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 1100,
    "y": 500,
    "wires": [["8e6ac1d942a6c11d"]]
  },
  {
    "id": "b4ebb0b88275140b",
    "type": "inject",
    "z": "c7fe64a18a500502",
    "g": "a2e004db05688e54",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 950,
    "y": 500,
    "wires": [["fe54083fe6a908be"]]
  },
  {
    "id": "8e6ac1d942a6c11d",
    "type": "debug",
    "z": "c7fe64a18a500502",
    "g": "a2e004db05688e54",
    "name": "调用高清图",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 500,
    "wires": []
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
