examples/03 距离测量.json
[
  { "id": "b11fb4f31bfd3630", "type": "tab", "label": "高德 - 距离测量", "disabled": false, "info": "", "env": [] },
  {
    "id": "4046ec8899782146",
    "type": "group",
    "z": "b11fb4f31bfd3630",
    "name": "距离测量：计算两个坐标之间的距离，及驾车最快所需时长",
    "style": { "label": true },
    "nodes": ["2b6cddbf6f027a09", "5b6d4ef0376a37d6", "66348a375b7fdf5c", "2367588d0c90ba13", "7ad5c7f85fe037cd", "6ed2569fbedf72a9", "9bbf016d48826fc4", "4a28ea66ab5fc8d2", "579d06d435a3254f"],
    "x": 234,
    "y": 179,
    "w": 612,
    "h": 202
  },
  {
    "id": "2b6cddbf6f027a09",
    "type": "inject",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 280,
    "wires": [["2367588d0c90ba13"]]
  },
  {
    "id": "5b6d4ef0376a37d6",
    "type": "amaps-distance",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "origins": "113.555114,22.429844",
    "origins_type": "str",
    "destination": "113.554123,22.38725",
    "destination_type": "str",
    "calctype": "0",
    "calctype_type": "list",
    "x": 540,
    "y": 220,
    "wires": [["66348a375b7fdf5c"]]
  },
  {
    "id": "66348a375b7fdf5c",
    "type": "debug",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "直线距离",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "2367588d0c90ba13",
    "type": "amaps-distance",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "origins": "113.555114,22.429844",
    "origins_type": "str",
    "destination": "113.554123,22.38725",
    "destination_type": "str",
    "calctype": "1",
    "calctype_type": "list",
    "x": 540,
    "y": 280,
    "wires": [["7ad5c7f85fe037cd"]]
  },
  {
    "id": "7ad5c7f85fe037cd",
    "type": "debug",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "驾车距离",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 280,
    "wires": []
  },
  {
    "id": "6ed2569fbedf72a9",
    "type": "amaps-distance",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "origins": "113.555114,22.429844",
    "origins_type": "str",
    "destination": "113.554123,22.38725",
    "destination_type": "str",
    "calctype": "2",
    "calctype_type": "list",
    "x": 540,
    "y": 340,
    "wires": [["9bbf016d48826fc4"]]
  },
  {
    "id": "9bbf016d48826fc4",
    "type": "debug",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "步行距离",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 340,
    "wires": []
  },
  {
    "id": "4a28ea66ab5fc8d2",
    "type": "inject",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 220,
    "wires": [["5b6d4ef0376a37d6"]]
  },
  {
    "id": "579d06d435a3254f",
    "type": "inject",
    "z": "b11fb4f31bfd3630",
    "g": "4046ec8899782146",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 340,
    "wires": [["6ed2569fbedf72a9"]]
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
