examples/06 行政区域.json
[
  { "id": "a5e9b3e9ca670b95", "type": "tab", "label": "高德 - 行政区域查询", "disabled": false, "info": "", "env": [] },
  { "id": "e28f0e508fdb7090", "type": "group", "z": "a5e9b3e9ca670b95", "name": "行政区域查询", "style": { "label": true }, "nodes": ["4cbe9acf98fcd5b5", "22f985ad9cfc647d", "8e8f405420ae3654"], "x": 154, "y": 179, "w": 692, "h": 82 },
  {
    "id": "4cbe9acf98fcd5b5",
    "type": "inject",
    "z": "a5e9b3e9ca670b95",
    "g": "e28f0e508fdb7090",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 250,
    "y": 220,
    "wires": [["8e8f405420ae3654"]]
  },
  {
    "id": "22f985ad9cfc647d",
    "type": "debug",
    "z": "a5e9b3e9ca670b95",
    "g": "e28f0e508fdb7090",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "8e8f405420ae3654",
    "type": "amaps-district",
    "z": "a5e9b3e9ca670b95",
    "g": "e28f0e508fdb7090",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "keywords": "中山市",
    "keywords_type": "str",
    "subdistrict": "1",
    "subdistrict_type": "list",
    "x": 480,
    "y": 220,
    "wires": [["22f985ad9cfc647d"]]
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
