examples/07 坐标转换.json
[
  { "id": "7a6441d09f1b411b", "type": "tab", "label": "高德 - 坐标转换", "disabled": false, "info": "", "env": [] },
  {
    "id": "9696a6d304a5f446",
    "type": "group",
    "z": "7a6441d09f1b411b",
    "name": "坐标转换",
    "style": { "label": true },
    "nodes": ["51a6b29e4c73f321", "5f8e8c3e9baae648", "f86573f52308d5b8", "aa9ea8e1382f540f", "6007e9595a0ae05c", "c1ca02e66f89cf32"],
    "x": 254,
    "y": 179,
    "w": 572,
    "h": 202
  },
  {
    "id": "51a6b29e4c73f321",
    "type": "inject",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "GPS 坐标",
    "props": [{ "p": "payload" }, { "p": "coordsys", "v": "gps", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "113.5500244271201,22.432858219409525",
    "payloadType": "str",
    "x": 360,
    "y": 220,
    "wires": [["6007e9595a0ae05c"]]
  },
  {
    "id": "5f8e8c3e9baae648",
    "type": "debug",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "高德坐标",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 260,
    "wires": []
  },
  {
    "id": "f86573f52308d5b8",
    "type": "inject",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "百度坐标",
    "props": [{ "p": "payload" }, { "p": "coordsys", "v": "baidu", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "113.561557,22.435749",
    "payloadType": "str",
    "x": 360,
    "y": 280,
    "wires": [["6007e9595a0ae05c"]]
  },
  {
    "id": "aa9ea8e1382f540f",
    "type": "inject",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "高德坐标",
    "props": [{ "p": "payload" }, { "p": "coordsys", "v": "autonavi", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "113.555114,22.429844",
    "payloadType": "str",
    "x": 360,
    "y": 340,
    "wires": [["6007e9595a0ae05c"]]
  },
  {
    "id": "6007e9595a0ae05c",
    "type": "amaps-convert",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "locations": "payload",
    "locations_type": "msg",
    "coordsys": "coordsys",
    "coordsys_type": "msg",
    "x": 540,
    "y": 280,
    "wires": [["c1ca02e66f89cf32", "5f8e8c3e9baae648"]]
  },
  {
    "id": "c1ca02e66f89cf32",
    "type": "amaps-staticmap",
    "z": "7a6441d09f1b411b",
    "g": "9696a6d304a5f446",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "location": "payload",
    "location_type": "msg",
    "zoom": 17,
    "zoom_type": "num",
    "size": "750*500",
    "size_type": "str",
    "markers": "-1,https://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png,0:{{location}}",
    "markers_type": "str",
    "labels": "",
    "labels_type": "str",
    "paths": "",
    "paths_type": "str",
    "scale": "2",
    "traffic": "0",
    "x": 720,
    "y": 300,
    "wires": [[]]
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
