examples/08 POI 搜索.json
[
  { "id": "8b0d8770a5e0b352", "type": "tab", "label": "高德 - POI 搜索", "disabled": false, "info": "", "env": [] },
  {
    "id": "61dcf8b6fef2358f",
    "type": "group",
    "z": "8b0d8770a5e0b352",
    "name": "POI 搜索",
    "style": { "label": true },
    "nodes": ["d2fddc1d92470e34", "c75881d777fba4fb", "4f01d3b649128d19", "70a59abc9ac61d0e", "a869ab203467157e", "7dfda7feefbbfa8c", "20e433a610cbd7b0", "35b24204410eb7ff", "cb8899ce37e6360b"],
    "x": 254,
    "y": 219,
    "w": 672,
    "h": 262
  },
  {
    "id": "d2fddc1d92470e34",
    "type": "inject",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 260,
    "wires": [["c75881d777fba4fb"]]
  },
  {
    "id": "c75881d777fba4fb",
    "type": "amaps-pois",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "text",
    "mode_type": "list",
    "keywords": "广东省中山市南朗镇翠云路19号保利领秀海",
    "keywords_type": "str",
    "types": "",
    "types_type": "str",
    "region": "",
    "region_type": "str",
    "location": "",
    "location_type": "str",
    "radius": 5000,
    "radius_type": "num",
    "polygon": "",
    "polygon_type": "str",
    "pois": "",
    "pois_type": "str",
    "x": 590,
    "y": 260,
    "wires": [["4f01d3b649128d19"]]
  },
  {
    "id": "4f01d3b649128d19",
    "type": "debug",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 360,
    "wires": []
  },
  {
    "id": "70a59abc9ac61d0e",
    "type": "amaps-pois",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "around",
    "mode_type": "list",
    "keywords": "广东省中山市南朗镇翠云路19号保利领秀海",
    "keywords_type": "str",
    "types": "",
    "types_type": "str",
    "region": "",
    "region_type": "str",
    "location": "113.555114,22.429844",
    "location_type": "str",
    "radius": 5000,
    "radius_type": "num",
    "polygon": "",
    "polygon_type": "str",
    "pois": "B0FFKG4OFF",
    "pois_type": "str",
    "x": 580,
    "y": 320,
    "wires": [["4f01d3b649128d19"]]
  },
  {
    "id": "a869ab203467157e",
    "type": "inject",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 320,
    "wires": [["70a59abc9ac61d0e"]]
  },
  {
    "id": "7dfda7feefbbfa8c",
    "type": "amaps-pois",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "polygon",
    "mode_type": "list",
    "keywords": "肯德基",
    "keywords_type": "str",
    "types": "050301",
    "types_type": "str",
    "region": "",
    "region_type": "str",
    "location": "",
    "location_type": "str",
    "radius": 5000,
    "radius_type": "num",
    "polygon": "116.460988,40.006919|116.48231,40.007381|116.47516,39.99713|116.472596,39.985227|116.45669,39.984989|116.460988,40.006919",
    "polygon_type": "str",
    "pois": "B0FFKG4OFF",
    "pois_type": "str",
    "x": 580,
    "y": 380,
    "wires": [["4f01d3b649128d19"]]
  },
  {
    "id": "20e433a610cbd7b0",
    "type": "inject",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 380,
    "wires": [["7dfda7feefbbfa8c"]]
  },
  {
    "id": "35b24204410eb7ff",
    "type": "amaps-pois",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "amaps": "ab0f695bc424abb4",
    "mode": "pois",
    "mode_type": "list",
    "keywords": "广东省中山市南朗镇翠云路19号保利领秀海",
    "keywords_type": "str",
    "types": "",
    "types_type": "str",
    "region": "",
    "region_type": "str",
    "location": "",
    "location_type": "str",
    "radius": 5000,
    "radius_type": "num",
    "polygon": "",
    "polygon_type": "str",
    "pois": "B0FFKG4OFF",
    "pois_type": "str",
    "x": 580,
    "y": 440,
    "wires": [["4f01d3b649128d19"]]
  },
  {
    "id": "cb8899ce37e6360b",
    "type": "inject",
    "z": "8b0d8770a5e0b352",
    "g": "61dcf8b6fef2358f",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 440,
    "wires": [["35b24204410eb7ff"]]
  },
  { "id": "ab0f695bc424abb4", "type": "amaps-configurator", "name": "高德配置" }
]
